@model Category

    @using MyProject.Models 


<form asp-action="Edit" method="post">
<fieldset>
    <legend>Edit Category</legend>
    <input asp-for="Id" type="hidden">
    <label for="Name">Name:</label>
    <input asp-for="Name" class="form-control">
    <label for="DisplayOrder">Display Order:</label>
    <input asp-for="DisplayOrder" class="form-control">
</fieldset>
<button type="submit">Update</button>
</form>