@model Supplier

    @using MyProject.Models 


<form asp-action="Create" method="post">
<fieldset>
    <legend>Add Name & Contact Email && Country</legend>
    <label for="Name">Name:</label>
    <input asp-for="Name" class="form-control">
    <label for="ContactEmail">Contact Email:</label>
    <input asp-for="ContactEmail" class="form-control">
    <label for="Country">Country:</label>
    <input asp-for="Country" class="form-control">
</fieldset>
<button type="submit">Submit</button>
</form>